/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}

.BasketSimple__total{
    font-weight: bold;
    margin: 0 15px;
}

.BasketSimple__link {
	margin-right: auto;
}
