/* Пункт списка */
.item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.item__selected {
  background: #75aaf1;
}

.item__title {
  width: 100%;
  padding: 20px 10px;
}
.item__actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
}
.item__number {
  padding: 20px 10px 20px 20px;
}
.item__price {
  padding: 0px 10px 0px;
  width: max-content;
}
