.drawer {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	overflow: scroll;
	transition: 0.5s;
}

.drawer__content {
	background-color: white;
	width: 960px;
	min-height: 603px;
	padding-bottom: 10px;
	border-radius: 10px;
	overflow: skroll !important;
}

.drawer__header {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: space-between;
	background: #f5f5f5;
	border-radius: 10px 10px;
}
.drawer.active {
	opacity: 1;
	pointer-events: all;
}
.drawer__text {
	margin-left: 20px;
}
.drawer__close {
	margin-right: 20px;
}

.drawer__item {
	border-top: 1px dashed #ccc;
}

.drawer__price {
	display: flex;
	justify-content: flex-end;
	margin: 15px 28px 0 0;
	padding: 0px 10px 0px;
	width: max-content;
}

.drawer__total-price {
	display: flex;
	justify-content: flex-end;
	margin: 15px 48px 0 0;
	padding: 0px 10px 0px;
}
.drawer__count {
	display: flex;
	width: max-content;
	justify-content: flex-end;
	margin: 15px 28px 0 0;
	padding: 0px 10px 0px;
}

.drawer__item {
	display: flex;
	justify-content: flex-start;
	transition: background-color 1s;
}
.drawer__total-item {
	display: flex;
	justify-content: flex-end;
	transition: background-color 1s;
}

.drawer_selected {
	background: #75aaf1;
}

.drawer__title {
	width: 100%;
	padding: 20px 10px;
}
.drawer__actions {
	padding: 20px 20px 20px 10px;
	display: flex;
	justify-content: flex-end;
}
.drawer__number {
	padding: 20px 10px 20px 20px;
}
